html {
	font-size: 62.5%;
}

body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-weight: 300;
	@include font-size(1);
	line-height: $font__line-height-body;
}

body.post-template-default,
body.blog {
	font-family: $font__blog;
}

@import "headings";

@import "copy";
