$size__site-main: 100%;
$size__site-max-width: 1080px;
$size__site-nosidebar-width: 660px;
$size__site-withsidebar-width: 60%;
$size__site-sidebar: 30%;
$size__single-post-thumbnail: 400px;

$slidemenu__width: 650px;

$query__medium: 769px;
$query__large: 1060px;
