.entry-title,
.page-title {
	font-size: 1.667em;
	line-height: 1.25;
	margin: 0.75em auto;
	text-align: center;
	word-wrap: break-word;
}

.entry-title,
.entry-title a {
	color: #fff;
}

.entry-title {
	padding: 0 0.778em;

	@media screen and (min-width: $query__medium) {
		font-size: 2.333em;
	}
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.article-content-wrapper {
	background: #fff;
}

.entry-meta,
.entry-footer {
	font-size: 0.778em;

	a {
		color: $theme__gray;
	}
}

.byline,
.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary,
.taxonomy-description {
	margin: 1.5em auto 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-tags,
.entry-categories {
	color: $theme__gray;
	font-weight: normal;
	margin-right: 3em;
	text-transform: capitalize;
	display: block;

	.heading {
		color: #000;
		font-weight: bold;
	}
}

.single {

	&.has-featured-image {

		.entry-background {

			@media screen and (min-width: $query__medium) {
				top: -64px;
			}
		}
	}

	.entry-header {
		background-color: $theme__black;
	}

	.post-thumbnail {
		position: relative;
		background-size: cover;
		background-position: center;
		z-index: -1;
		clear: both;
		width: 100%;

		&:before {
			content: '';
			position: absolute;
			display: block;
			z-index: 1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba($theme__black, 0.4);
		}

		.entry-header {
			background: none;
			width: 100%;
			height: $size__single-post-thumbnail;
		}

		.entry-title {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1;
		}
	}

	.entry-title {
		font-size: 1.667em;
		width: 100%;
		margin: 0 auto;
		padding: 0.75em;
		text-align: center;

		@media screen and (min-width: $query__medium) {
			font-size: 2.333em;
		}

		@media screen and (min-width: $query__large) {
			font-size: 4.44em;
			width: 1000px;
			margin: 0 auto;
		}
	}

	.entry-meta {
		text-align: center;
		color: $theme__gray;
	}

	.byline {
		display: inline;
	}
}

/*.page-content,
.entry-content,
.entry-summary,
.entry-title,
.entry-footer,
.comments-area,
.site-info,
.entry-author,
.entry-meta,
.page-title,
.taxonomy-description {

}*/
